.timer {
  width: 250px;
  height: 400px;

  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.50);
  border-radius: 40px;
  align-self: end;
  justify-self: end;
}
.timer__mode {
}
.timer__work {
}
.timer__line {
}
.timer__rest {
}
.timer__indication {
}
.timer__time {
}
.timer__control {
}
.timer__list {
}
.timer__item {
}